@{
    ViewBag.Title = "Wysłane";
}

<div class="modal fade" id="SentModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dziękujemy !</h4>
            </div>
            <div class="modal-body">
                <h2>Wiadomość została wysłana.</h2>
            </div>
        </div>
    </div>
</div>
