
@{
    ViewBag.Title = "Dzialalnosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="padding: 0px">
    <div class="col-md-6" id="wyprawy1">
        <div class="page-header" id="wyprawyHeader"><h2>WYPRAWY</h2></div>
        <div class="col-md-6">
            <p>
                Puszcza Kampinoska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1630959183841527">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Bydgoska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1621342644803181">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Piska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1621341191469993">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Goleniewska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1547405055530274">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Rzepińska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1526866640917449">
                    zobacz opis
                </a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                Puszcza Gorzowska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1514969592107154">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Zielonka -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1472008953069885">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Białowieska -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1423492834588164">
                    zobacz opis
                </a>
            </p>
            <p>
                Puszcza Notecka -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414422978828483">
                    zobacz opis
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-6" id="wyprawy2">
        <div class="page-header" id="wyprawyHeader"><h2>SURVIVALE</h2></div>
        <div class="col-md-6">
            <p>
                Szkolenia survivalowe -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414439065493541">
                    zobacz opis
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-6" id="wyprawy2">
        <div class="page-header" id="wyprawyHeader"><h2>INNE</h2></div>
        <div class="col-md-6">
            <p>
                Samotny marsz wzdłuż rzeki Barycz -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1525863541017759">
                    zobacz opis
                </a>
            </p>
            <p>
                Nocny pierwszy marsz w Górze -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1417395398531241">
                    zobacz opis
                </a>
            </p>
            <p>
                Pierwszy etap przejścia wzdłuż Bałtyku -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414423628828418">
                    zobacz opis
                </a>
            </p>
            <p>
                Drugi etap przejścia wzdłuż Bałtyku -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414425112161603">
                    zobacz opis
                </a>
            </p>
            <p>
                Wypad w Bieszczady -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414418908828890">
                    zobacz opis
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-6" id="wyprawy1">
        <div class="page-header" id="wyprawyHeader"><h2>RECENZJE SPRZĘTU</h2></div>
        <div class="col-md-6">
            <p>
                Nóż TIM -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1438863703051077">
                    zobacz opis
                </a>
            </p>
            <p>
                Hamak Jungle US Army Armyworld -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1425948877675893">
                    zobacz opis
                </a>
            </p>
            <p>
                Baribal pokrowiec na nalgene -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1511511929119587">
                    zobacz opis
                </a>
            </p>
            <p>
                Kuchenka oraz pochwa z Kydexu  -
                <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1543300262607420">
                    zobacz opis
                </a>
            </p>
        </div>
    </div>
</div>

<style>
    div#wyprawy1 {
        background: rgba(0,0,0,0.7);
        color: white;
        height: 30vh;
        padding: 0 2% 0 2%;
    }
    div#wyprawy2 {
        background: rgba(0,0,0,0.5);
        color: white;
        height: 30vh;
        padding: 0 2% 0 2%;
        margin-top: 0px;
    }
    div.container-fluid a{
        color: #ffd800;
    }
    #wyprawyHeader {
        margin: 2%;
    }
</style>