
@{
    ViewBag.Title = "Projekt Puszcze - Działalność";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dzialalnoscmobile</title>
</head>
<body>
    <ul data-role="listview" data-inset="true" data-divider-theme="a">
        <li data-role="list-divider">Wyprawy</li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1630959183841527">
                Puszcza Kampinoska
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1621342644803181">
                Puszcza Bydgoska
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1621341191469993">
                Puszcza Piska
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1547405055530274">
                Puszcza Goleniewska
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1526866640917449">
                Puszcza Rzepińska
            </a>
        </li>
        <li data-role="list-divider">Survivale</li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414439065493541">
                Szkolenia survivalowe
            </a>
        </li>
        <li data-role="list-divider">Inne</li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1525863541017759">
                Samotny marsz wzdłuż rzeki Barycz
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1417395398531241">
                Nocny pierwszy marsz w Górze
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414423628828418">
                Pierwszy etap przejścia wzdłuż Bałtyku
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414425112161603">
                Drugi etap przejścia wzdłuż Bałtyku
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1414418908828890">
                Wypad w Bieszczady
            </a>
        </li>
        <li data-role="list-divider">Recenzje sprzętu</li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1438863703051077">
                Nóż TIM
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1425948877675893">
                Hamak Jungle US Army Armyworld
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1511511929119587">
                Baribal pokrowiec na nalgene
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/photos/?tab=album&album_id=1543300262607420">
                Kuchenka oraz pochwa z Kydexu
            </a>
        </li>
        <li data-role="list-divider">
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/">Więcej na Facebooku</a>
        </li>
    </ul>
</body>
</html>

<style>
    ul li a {
        font-size: 12px !important;
    }
</style>